/*For Fonts in Website...*/
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 70px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    position: sticky;
    top: 0;
    background-color: #101010;
}

.navbar ol {
    margin-left: 20px;
}

.navbar ol li {
    display: flex;
    align-items: center;
}

.navbar ol li img {
    width: 175px;
    height: 70px;
}

.navlist {
    display: flex;
    width: 70%;
    justify-content: center;
}

.list {
    padding: 10px 30px;
    list-style: none;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 30px;
    color: #fff;
    border-radius: 10px;
    transition: all 0.5s;
}

.list:hover {
    color: rgb(255, 78, 78);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.hamburger {
    cursor: pointer;
    margin-right: 20px;
    position: absolute;
    top: 15px;
    right: 10px;
    display: none;
}

.bar1,
.bar2,
.bar3 {
    background-color: #fff;
    width: 35px;
    height: 5px;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.right {
    position: absolute;
    top: 0px;
    right: 2em;
    display: flex;
    align-items: center;
    height: 100%;
}

.darkbug {
    background-color: #000;
}

.fa-solid {
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 70px;
    width: 200px;
    height: 90%;
    background: rgb(8 65 74);
    overflow: auto;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar header {
    font-size: 22px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: #00000089;
}

.sidebar ul a {
    line-height: 70px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    color: white;
    justify-content: center;
    text-decoration: none;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    transition: 0.5s;
}

ul li:hover a {
    background-color: aqua;
    color: black;
}

ul li:active a {
    background-color: rgb(0, 75, 75);
}

hr {
    margin-bottom: 50px;
    margin-top: 50px;
}

.content {
    margin-left: 200px;
    padding: 30px;
}

.content p {
    font-size: 25px;
    font-family: 'Gelasio', serif;
    margin: 10px;
}

.content h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 20px;
}

.content h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin: 10px 0 10px 0;
}

a {
    user-select: none;
}

img {
    user-select: none;
}

.header-wrapper {
    display: flex;
    justify-content: center;
}

.header {
    width: 85vw;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
}

.header h3 {
    font-weight: 500;
    margin: 10px 0 10px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page {
    display: flex;
    align-items: center;
}

.nextpage {
    display: flex;
    justify-content: right;
    width: 50%;
}

.nextpage a {
    transition: all 0.5s;
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: 10px;
    font-weight: 500;
    font-family: 'Work Sans', cursive;
    border: 2px solid white;
}

.nextpage a:hover {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    border: 2px solid white;
    color: rgb(255, 78, 78);
}

.prevpage {
    display: flex;
    justify-content: left;
    width: 50%;
}

.prevpage a {
    transition: all 0.5s;
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: 10px;
    font-weight: 500;
    font-family: 'Work Sans', cursive;
    border: 2px solid white;
}

.prevpage a:hover {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    border: 2px solid white;
    color: rgb(255, 78, 78);
}

.nextpage a:active {
    background-color: rgb(139, 139, 139);
}

::-webkit-scrollbar {
    background-color: #ffffff;
    border-color: #000000;
}

::-webkit-scrollbar-thumb {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    background: #000;
}

::-webkit-scrollbar-button {
    display: none;
}

.dark {
    background-color: #fff;
    color: #000;
}

.dark h1 {
    color: #000;
}

.dark a {
    color: #000;
}

.dark p {
    color: #000;
}

.load {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    padding: 5px 10px;
    color: black;
    border-radius: 10px;
    text-decoration: none;
}

.load:hover {
    background: lightgray;
}

.load:active {
    background: grey;
    color: white;
}

/* For tabs */
@media screen and (max-width: 1350px) {}

/* for Mobiles */

@media screen and (max-width: 1130px) {
    .navbar {
        flex-direction: column;
        width: 100%;
        height: 355px;
        position: relative;
        position: fixed;
        transition: all 0.3s ease-in;
    }

    .navbar ol {
        display: flex;
        width: 100%;
    }

    ol h1 {
        margin-left: 0;
    }

    .navlist a {
        width: 100%;
        text-align: center;
        border-radius: 0;
        animation: animate 0.7s ease-in;
    }

    .right a {
        animation: animate 0.7s ease-in;
    }

    .right i {
        animation: animate 0.7s ease-in;
    }

    @keyframes animate {
        0% {
            opacity: 0;
            transition-delay: 0.5s;

        }

        100% {
            opacity: 1;
        }
    }

    .navlist {
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .right {
        position: absolute;
        top: 295px;
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
    }

    .fa-solid {
        margin-right: 10px;
    }

    .hamburger {
        display: block;
    }

    .height {
        height: 70px;
    }

    .gayab {
        display: none;
    }
}

@media screen and (max-width: 1192px) {
    .content h1 {
        font-size: 35px;
    }

    .content h2 {
        font-size: 25px;
    }

    .content p {
        font-size: 20px;
    }

    .header h3 {
        font-size: 25px;
    }
}

@media screen and (max-width: 1075px) {
    .content h1 {
        font-size: 30px;
    }

    .content h2 {
        font-size: 20px;
    }

    .content p {
        font-size: 18px;
    }

    .header h3 {
        font-size: 20px;
    }
}

@media screen and (max-width: 742px) {
    .sidebar {
        width: 150px;
    }

    .sidebar ul a {
        font-size: 16px;
        line-height: 50px;
    }

    .sidebar header {
        font-size: 16px;
    }

    .content {
        margin-left: 153px;
        padding: 10px;
    }

    .content h1 {
        font-size: 25px;
    }

    .header h3 {
        font-size: 17px;
    }

    ::-webkit-scrollbar {
        width: 5px;
    }

    #down h1 {
        font-size: 18px;
    }

    .content p {
        font-size: 16px;
    }
}

@media screen and (max-width: 528px) {
    .content p {
        font-size: 14px;
    }

    .content h1 {
        font-size: 18px;
    }

    .prevpage a,
    .nextpage a {
        font-size: 14px;
        padding: 5px;
        margin-right: 0;
    }

    .header h3 {
        font-size: 10px;
    }

    .content {
        padding: 0;
    }

    .sidebar ul li a{
        font-size: 13px;
        line-height: 40px;
    }

    .sidebar header{
        line-height: 30px;
        font-size: 13px;
    }

    .sidebar{
        width: 120px;
    }

    .header-wrapper{
        margin-top: 100px;
    }

    .content{
        margin-left: 125px;
    }
}

@media screen and (max-width: 318px) {
    .fa-solid {
        margin-right: 0;
    }

    .anav {
        padding: 10px 20px;
    }

    .about {
        padding: 10px 20px;
    }
}

@media screen and (max-width: 280px) {
    .hamburger {
        margin-right: 0;
    }
}